<div class="row" id='{{ pk }}'>
  <div class="col-md-12 dvd" style='text-align:center' id='{{ pk }}'>
    <h2 class='dvd' id='{{ pk }}'>{{ title }}</h2>
    <p> Dvd Release Date: {{dvd_release_date}}</p>
    <p> Price: ${{price}}</p>
    <p> Studio: {{ studio }}</p>
    <p> Rating: {{ rating }}</p>
    <p> Released: {{ dvd_release_date }}</p>
    <p> Genre: {{ genre }}</p>
    <p><a class="btn btn-default" href="index.html" role="button"> &laquo; Go back to DVD list</a></p>

  </div>
</div>